@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "./nav";
@import "./home";
@import "./book";
@import "./globals";
@import "./details";
